footer {
  background-color: white;
  color: #94749e; /* Cor rosa */
  padding: 20px 0;
  text-align: center;
}

footer .footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

footer .footer-buttons button {
  background-color: transparent;
  color: #94749e;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

footer .footer-buttons button:hover {
  color: #253173; 
}

footer .footer-info {
  display: flex;
  justify-content: center;
  flex-direction: column; /* <-- Essa linha faz a mágica */
  align-items: center;
  gap: 5px;
}

footer .footer-info div {
  display: flex;
  flex-direction: column;
}

footer .footer-info div p {
  color: #94749e;
  font-size: 1rem;
  text-decoration: none;
}
