header {
  background: #253173;
  font-family: Arial, sans-serif;
  width: 100%;
}

header .top-bar {
  background: #253173;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;
  height: 50px;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo-image {
  height: 35px;
  object-fit: contain;
  border-radius: 10%;
}


header .search-bar input {
  padding: 6px 10px;
  font-size: 1rem;
  width: 340px;
  border: none;
  border-radius: 3px;
}


header .login-button {
  background-color: #94749e;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

header .login-button:hover {
  background-color: #7f637f;
}
header .bottom-bar {
  background: #93b46a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
  padding: 0 10px;
}

header .green-bar-buttons {
  display: flex;
  gap: 32px;
  align-items: center;
}

header .green-button {
  background-color: transparent;
  color: white;
  padding: 4px 10px;
  font-size: 0.8rem;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  line-height: 1.2;
  text-decoration: none;
}

header .green-button:hover {
  background-color: rgb(124, 150, 124);
  color: #253173;
}
