
.questionario-box {
    width: 800px;
    height: 250px;
    border-radius: 20px;
    background: #6C87A3;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin: 40px auto;
  }
  
  .questionario-box h1 {
    font-size: 1.7rem;
    color: white;
    margin: 0;
    text-align: center;
  }
  
  .questionario-box h3 {
    font-size: 1.2rem;
    color: white;
    margin: 10px 0 10px 0;
    text-align: center;
  }
  

  .start-button {
    background-color: #94749e; 
    color: white;
    font-size: 1.2rem;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .start-button:hover {
    background-color: #e06d96; 
  }
  
  .start-button:focus {
    outline: none;
  }
  .sobre-offyou {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  margin-top: 40px;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;  
  margin: 40px auto; 
}

.sobre-offyou h2 {
  font-size: 2rem;
  color: #253173;
  margin-bottom: 10px;
}

.sobre-offyou p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  width: 80%; 
  margin: 0 auto;
}